name: PR Title Check

on:
  pull_request:
    types: [opened, edited]
    
jobs:
  sheriff:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: teneplaysofficial/sheriff@v4
